
obj/
bin/
Packages/
NugetPackages/
/Assets/FluentSystemIcons-Filled.ttf
/Assets/FluentSystemIcons-Regular.ttf
/ShadowViewer.Plugin.PluginManager.csproj.Backup.tmp
/ShadowViewer.Plugin.PluginManager/plugin.d.json
/ShadowViewer.Plugin.PluginManager/ShadowViewer.Plugin.PluginManager/plugin.json